:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: #1F2937;
  background-color: #F7F8FA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #F7F8FA;
}
